<div class="row">
  <div class="col-md-12">{{user.username}}</div>
  <div class="col-md-6 col-xs-6 avatar">
    <i class="fa fa-camera-retro"></i>
  </div>
  <div class="col-md-6 col-xs-6 avatar user-score animated">{{user.score}}</div>
</div>
