/* VARIABLE DEFINITIONS */
// Colours
$pal-5-color1: desaturate(#0097a7, 20%); //rgba(127, 103, 91, 100)
$pal-5-color2: desaturate(lighten($pal-5-color1, 20%), 30%); //rgba(224, 193, 179, 100)
$pal-5-color4: #f57c00; //rgba(195, 125, 146, 100)
$pal-5-color5: desaturate(lighten($pal-5-color4, 20%), 10%); //rgba(10, 60, 120, 100)
$pal-5-color-grey: #e0e1dd;

$card-inverse: #ffffff;

body {
  background: $pal-5-color-grey;
  font: 1em "Fira Sans";
}

/* MOT BOX DEFINITIONS */
.mot-box {
  column-gap: 0;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
}

.form-control::-moz-placeholder {
  color: transparentize($pal-5-color1, 0.5);
}

.form-control::-webkit-input-placeholder {
  color: transparentize($pal-5-color1, 0.5);
}

// Remove margins and padding
.mot {
  margin: 0;
  border-radius: 0 0;
  border: 0px;
}

.mot-1 {
  background: $pal-5-color1;
  color: $card-inverse;
}

.mot-2 {
  background: $pal-5-color2;
  color: $card-inverse;
}

.mot-3 {
  background: $pal-5-color4;
  color: $card-inverse;
}

.mot-4 {
  background: $pal-5-color5;
  color: $card-inverse;
}

.mot-5 {
  background: $pal-5-color-grey;
  color: $pal-5-color1;
}
