@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic,700italic);

/* VARIABLE DEFINITIONS */
// Colours
// Colour for the word on the screen
$text-highlight: #E91E63; // Material design red

// Player colours
$player-one: #7B1FA2;
$player-two: #512DA8;
$player-three: #1976D2;
$player-four: #00796B;

// Contextual colours
$high-score: #4CAF50;

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.col-center {
  margin:0 auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

a {
  color: #373A3C;
  &:hover {
    color: $text-highlight;
    text-decoration: none;
  }
}

.highlight {
  color: $text-highlight;
}

// Remove margins and padding
.mot {
  margin: 0;
  border-radius: 0 0;
  border: 0px;
  font-size: 64px !important;
}

.avatar {
  @media (min-width: 34em) {
    font-size: 3em;
  }
}

// PLAYER CLASSES
.player-one {
  color: $player-one;
}

.player-two {
  color: $player-two;
}

.player-three {
  color: $player-three;
}

.player-four {
  color: $player-four;
}

.high-score {
  color: $high-score;
}
