@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic,700italic);

/* VARIABLE DEFINITIONS */
// Colours
$text-highlight: #2196f3; // Material design blue

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.col-center {
  margin:0 auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.highlight {
  color: $text-highlight;
}

// Remove margins and padding
.mot {
  margin: 0;
  border-radius: 0 0;
  border: 0px;
  font-size: 64px !important;
}
