<div class="container vertical-center">
  <div class="input-group-lg display-1 col-center">
    <!-- <p class="display-1 mot text-xs-center highlight animated">{{lastMot.content}}</p> -->
    {{#last-word item=lastMot}}
    {{/last-word}}
    {{input type="text" class="form-control mot animated" value=currentMot.content placeholder="Your word" insert-newline='saveMot' autofocus='autofocus'}}
    <hr class="text-primary"/>
  </div>
</div>
