<div class="row">
  <div class="col-md-offset-2 col-md-4">
    {{#mot-form item=model action='saveMot'}}
    {{/mot-form}}
  </div>
  <div class="col-md-4">
    {{#mot-item item=model}}
    {{/mot-item}}
  </div>
</div>
