<div class="container vertical-center">
  <div class="input-group-lg col-center">
    <span class="display-4">Game ID:</span>
    {{input type="text" class="form-control mot display-1 animated" value=currentGameID insert-newline='sendGameID' autofocus='autofocus'}}
    <hr class="text-primary"/>
  </div>
</div>
