<div class="col-sm-6 col-xs-12 col-sm-offset-3">
  <div class="list-group">

    <div class="list-group-item">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">@</span>
        {{input type='text' class="form-control" aria-controls='existing-user-table' value=newContent placeholder="What's up?" insert-newline='createMot' aria-describedby="basic-addon1"}}
      </div>
    </div>

    {{#each model as |mot|}}
      <div class="card card-primary">
        <div class="card-block">
          <p class="card-text">{{mot.content}}</p>
        </div>
      </div>
    {{/each}}
  </div>

</div>
{{outlet}}
